$primary-color:#9300EB;
$black-impure:#4C4C4C;
$white-translucent:rgba(255,255,255,0.8);
$light-grey: #cccccc;

$grey-background:#EFF4F8;

$primary: #0c158c;
$primary-dark:darken( #0c158c, 10% );

$black: #000;
$black-80: rgba(#2b2b2b, 0.8);
